<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
   <!--<add name="default" connectionString="Data Source=attpoc-websvr.cloudapp.net;Initial Catalog=autoforms;User Id=root;Password=" providerName="MySql.Data.MySqlClient" />-->
    <add name="default" connectionString="Data Source=localhost;Initial Catalog=autoforms;User Id=root;Password=" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="serverName" value="afgis.eastus.cloudapp.azure.com" />-->
    <add key="serverName" value="localhost" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    
  <httpProtocol>
    <customHeaders>
      <add name="Access-Control-Allow-Headers" value="Content-Type" />
      <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
    </customHeaders>
  </httpProtocol>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
</configuration>
